body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 115vh;
}

input[type=text]{
    all: unset;
    width: 90%;
    border: none;
    border-bottom: 2px solid white;    
}
input[type=password]{
    all: unset;
    width: 90%;
    border: none;
    border-bottom: 2px solid white;    
}
.button{
    box-shadow:0px 0px 1px 1px pink ;
    border-color: pink !important;
    color: white !important ;
    background-color: transparent !important;   
}
.button:hover{
    box-shadow:0px 0px 1px 3px pink;
    border-color: pink !important;
    color: white !important ;
    background-color: transparent !important;   
}

.fb_icon:hover{
    color:#4267b2
}
.twitter_icon:hover{
    color:#00acee
}
.in_icon:hover{
    color:#0a66c2
}



@media only screen and (max-width: 991px) {
    body {
        overflow: hidden;
        box-sizing: border-box;
        background-image: url('bg.jpg');
        background-repeat: no-repeat;
        background-size: auto;        
    }
  }

  @media only screen and (max-width: 575px) {
    input[type=text]{
        all: unset;
        width: 95%;
        border: none;
        border-bottom: 2px solid white;    
    }
    input[type=password]{
        all: unset;
        width: 95%;
        border: none;
        border-bottom: 2px solid white;    
    }
  }